In [1]:
#Loop control statements : break,continue
for i in range(1,11):
    if i % 5 == 0:
        break
    else:
        print(i)

1
2
3
4

In [2]:
for i in range(1,11):
    if i % 5 == 0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

Question:
write a program to validate username and password given by the user.If the user gives wrong credentials it should ask for username and password again again until the user gives correct details.

In [8]:
#username : python
#password : abc123
while(True):
    user = input("enter the user name: ")
    if user == "python":
        pword = input("enter the password: ")
        if pword == "abc123":
            print("login is successfull!!!")
            break
        else:
            continue

enter the user name: python
enter the password: abc123
login is successfull!!!

In [9]:
#pass -->for creating empty block 
if 12 < 34:
    pass
else:
    print("else")

### function:
block of statements
1. predefined(which are already there)
   -len(),print(),input(),min(),max()
2. user defined(custom function)

'''def function_name(parameter list):
            statements
            return'''

In [11]:
def name(username):#function defination
    print("Hello",username)
name(20)#function calling

Hello 20

In [13]:
def addition(a,b):
    return a+b
print(addition(30,60))
print(addition(100,800))
print(addition(400,500))

90
900
900

In [14]:
def addition(a,b):
    return a+b,a-b,a*b,a/b
print(addition(30,60))
print(addition(100,800))
print(addition(400,500))

(90, -30, 1800, 0.5)
(900, -700, 80000, 0.125)
(900, -100, 200000, 0.8)

In [16]:
#Multiple return values 
def addition(a,b):
    return a+b,a-b,a*b,a/b
#Unpacking
add,sub,mul,div = addition(10,80)
print(sub)

-70

In [18]:
def add(a,b):
    return(a+b)
add(10,20)

30

### Different type of Arguments to functions:
1. Required positional Arguments
2. Default Arguments
3. Keyword Arguments
4. Variable length Arguments

In [19]:
def add(a,b=100):
    return a+b
add(100)

200

In [20]:
#default argument
#default arg should be at the end of the arg list
def add(a,b=100):
    return a+b
print(add(100))
print(add(200,200))

200
400

In [22]:
#keyword arguments:
def add(a,b):
    print("a value:",a)
    print("b value:",b)
    return(a+b)
add(b = 10,a = 20)

a value: 20
b value: 10

30

In [23]:
a = int(input("enter a value"))
b = int(input("enter b value"))
add(a,b)

enter a value23
enter b value48
a value: 23
b value: 48

71

In [24]:
#variable length arguments
def add(*a):
    return sum(a)
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [ ]:
#variable length arguments
#(120,230,34,450,460)-->tuple
def add(*a):
    return sum(a)
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

In [27]:
#variable length arguments
#(120,230,34,450,460)-->tuple
def add(*a):
    m = 1
    for i in a:
        m = m*i
    return m
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

200
6000
240000

In [28]:
#nested Functions : square,cube
def square(a):
    return a*a
def cube(x):
    return square(x)*x
print(square(10))
print(square(100))
print(cube(999))

100
10000
997002999

### Recursive functions:
Calling a function inside the same function is called Recursion
1. Factorial of a number
2. Fibonacci series

In [ ]:
# factorial of a number

In [ ]:
#fibonacci series

### List:
collection of elements enclosed in [] and separated by ,
lists are mutable,indexed,ordered and allows duplicate values
list allows Heterogeneous values
1. List:
     - elements seperated by ,
     - indexed
     - ordered
     - Duplicate values
     - Mutable
     -Any type of values

In [29]:
list1 = [12,23.45,True,"abc",12]
print(type(list1))

<class 'list'>

In [31]:
#operators supported by the list : +,*,[],[:],in,not,in
list1 = [1,2,3]
list2 = [10,20,20]
print(list1+list2)
print(list1*3)
print(list1[1])
print(list1[1:3])
print(2 in list1)
print(200 in list1)

[1, 2, 3, 10, 20, 20]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2
[2, 3]
True
False

In [39]:
list1 = [1,2,3,44]
s1 = "python"
print(len(list1))
print(min(list1))
print(max(list1))
list2 = list(s1)
print(list2)
list1[-1] = 100
print(list1)

4
1
44
['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3, 100]